{%  extends 'base.html.twig' %}

{%  block title %}
    Car expenses
{%  endblock %}

{% block body %}
    <div id="black-overlay-1"></div>
    <div id="modal-container"></div>
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}