@import '../../Main';

.car-element {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  box-sizing: border-box;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $medium) {
    width: calc(50% - 5px);
    margin-right: 10px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  &__fuel, &__color, &__notes {
    display: block;
    min-width: 50%;
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }


    @media (min-width: $medium) {
      min-width: 100%;
    }
  }

  &__notes {
    width: 100%;
  }
  
  &:hover {
    background-color: #e6f9ff;
  }

  &__title {
    margin: 0 0 5px 0;
  }

  &__name {
    font-weight: 500;
  }

  &.brief {
    width: auto;
    margin-right: 10px;
    padding: 6px;
    &>* {
      margin-bottom: 0;
    }
  }
}